body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

a {
  font-size: 14px;
  color: rgba(0,0,0,.85);
}
.container {
  margin: 0 auto;
  width: 1070px;
}

.header {
  font-size: 50px;
  font-weight: 300;
  margin: 10px 0;
}

.subheader {
  font-size: 30px;
  font-weight: 300;
}

.icon-btn, .add-meal-btn {
  background: none;
  border: none;
  border-radius: 2px;
}

.icon-btn:hover, .icon-btn:focus, .icon-btn:active {
  background: #D3D3D3;
  outline: 0;
}

.add-meal-btn {
  width: 50px;
  margin: 0 auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  background-color: #f5f5f5;
  padding: 0 20px;
  height: 120px;
}

.shopping-list {
  background: none;
  font-size: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 2px;
}

.shopping-list:hover, .shopping-list:focus, .shopping-list:active {
  background: #D3D3D3;
  outline: 0;
}

.calendar {
  margin-top: 0;
  display: flex;
  padding: 0 20px;
}

.icon-grid ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon-grid {
  flex: 1;
}

.meal-types {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-left: 152px;
  padding: 0 20px;
}

.meal {
  font-size: 23px;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 160px;
  justify-content: center;
}

.meal svg {
  margin: 0 auto;
  display: block;
  margin-top: 15px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.search-container h3 {
  text-align: center;
}

.food-input {
  width: 90%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #bdbdbd;
  outline: none;
}

.search {
  display: flex;
}

.loading {
  align-self: center;
  margin: 0 auto;
}

.days h3 {
  padding: 50px 0;
}

.food-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.food-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.food-list img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 3px;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ingredients-list li {
  font-size: 16px;
  padding: 5px;
}

.food-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food-item img {
  width: 100px;
  height: 100px;
  border-radius: 3px;
}

.food-item span {
  font-size: 16px;
  display: inline-block;
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.food-item button {
  background: none;
  border: none;
  text-decoration: underline;
  font-size: 14px;
  margin-top: 5px;
}
